footer.footer
	.container.container__footer
		div.logo.logo_footer
			img(src="#")
			span.hidden K2IT
		div.microsoft.microsoft_footer
			h3.microsoft__header Microsoft Partner
			div.microsoft__logo
				img(src="#")
				span Microsoft
			ul.skills.skills_footer
				li.skills__li Silver Datacenter
				li.skills__li Silver Collaboration and Content
				li.skills__li Silver Project and Portfolio Managment
		div.contact.contact_footer
			div.phone 
				div.phone__header Телефон
				div.phone__number +7 499 375-51-95
			