form.form.form__count(action='' method="POST")
	div.formbody
		input.input.industry(name="industry" value="industry" id="industry" type="text")
		label.label.label__name(for="industry") Отрасль (выбрать из списка)
		input.input.count_people(name="count_people" value="count_people" id="count_people" type="text")
		label.label.label__company(for="count_people") Количество пользователей (выбрать из списка)
		input.input.setting(name="setting" id="setting" value="setting" type="text")
		label.label(for="setting") Настройки (отметить галочкой)
		
	button.get-demo(type="submit") Рассчитать