header.header
	.container.container__header
		div.logo
			img(src="#")
			span.hidden K2IT
		div.microsoft
			h3.microsoft__header Microsoft Partner
			div.microsoft__logo
				img(src="#")
				span Microsoft
			ul.skills
				li.skills__li Silver Datacenter
				li.skills__li Silver Collaboration and Content
				li.skills__li Silver Project and Portfolio Managment
		div.contact
			div.phone 
				div.phone__header Телефон
				div.phone__number +7 499 375-51-95
			div.get-demo Получить демо-версию
