section.can-reward
	.container.container.can-reward
		h2.can-reward__header На что способен Reward?
		div.can-reward__content 
			ul.can-reward__list
				li.can-reward__item
					div.can-reward__text Тотальная автоматизация бизнес процессов
				li.can-reward__item
					div.can-reward__text Визуализируемая цифровая аналитика
				li.can-reward__item
					div.can-reward__text Автоматическое генерирование документации
				li.can-reward__item
					div.can-reward__text Личный кабинет каждому сотруднику
				li.can-reward__item
					div.can-reward__text Бдительная система мониторинга
				li.can-reward__item
					div.can-reward__text Возможность интеграции с 
						img(src='#' alt='Office 365') 
						span.hidden Office 365
