section.whatis
	div.whatis__triangle
			div.triangle-left
			div.triangle-right
	.container.container__whatis
		h2.whatis__header
			span Что такое
			span.hidden Reward
			img(src='#' alt="Reward")
		ul.whatis__outher-list
			li.whatis__outher-item Ведение клиентсткой базы
				ul.whatis__inner-list
					li.whatis__inner-item Ведение и актуализация контактной базы
					li.whatis__inner-item Фиксация обращений по звонку
					li.whatis__inner-item Автоматическая сегментация контактной базы
					li.whatis__inner-item Контроль всех обращений клиента

			li.whatis__outher-item Управление сделками
				ul.whatis__inner-list
					li.whatis__inner-item Разработка гибких сценариев маркетинговых компаний
					li.whatis__inner-item Автоматическое генерирование документов
					li.whatis__inner-item Автоматический контроль всех этапов сделки
					li.whatis__inner-item eMail-уведомления о статусе оценки

			li.whatis__outher-item Управление задачами
				ul.whatis__inner-list
					li.whatis__inner-item Автоматическая постановка задач
					li.whatis__inner-item Автоматическое заполнение по факту выполненния задач
					li.whatis__inner-item Контроль  выполнения задач
					li.whatis__inner-item Календарь занятости

			li.whatis__outher-item Личный кабинет сотрудника
				ul.whatis__inner-list
					li.whatis__inner-item Управление задачами
					li.whatis__inner-item Планирование занятости
					li.whatis__inner-item Планирование встреч
					li.whatis__inner-item Совместная работа с документами на SharePoint Online 
		div.whatis__triangle_bottom
			div.triangle-left_bottom
			div.triangle-right_bottom