section.reward__time
	.container.container__time
		h2.time__header Сколько времени потребуется на внедрение Reward
		table.time__plan
			thead.time__thead
				td Месяц 1
				td Месяц 2
				td Месяц 3
			tbody.time__tbody
				tr.time__tr 
					td Установка прототипа
					td Базовая настройка прототипа, интеграция с корпоративным сайтом и обучение
					td Дополнительная настрйка и доработка системы
				tr.time__tr
					td
					td Тестовая эксплуатация прототипа
					td Запуск в промышленную эксплуатацию
