section.reward__demo
	.container.container__demo
		h2.demo__header Все еще не уверены, нужен ли Вам Reward?
		div.demo__invite Запишитесь на презентацию или получите демо-версию решения бесплатно по электронной почте
		div.demo__buttons
			a.button_presentation(href="#") Записаться на презентацию
			a.button_download(href="#") Получить демо-версию

