section.reward
	.container.container_revard
		div.reward__left
			div.reward__about
				h1.reward__header.hidden Reward
					img(src="")
				h3.reward__description Цифровая аналитика в каждой сделке
			div.reward__lozung Увеличивай свой доход, прогнзируя потребности клиентов
			div.reward__video 
				div.video__header
				div.video__contbutton
					a.video__button(href="#" alt='просмотр видео')
						img(src="#")
		div.reward__right 
			div.reward__result
				ul.result__list
					li.result__item
						span.result__icon
							img(src="#")
						span.result__text Рост продаж
					li.result__item
						span.result__icon
							img(src="#")
						span.result__text Увеличение скорости обработки заказов
					li.result__item
						span.result__icon
							img(src="#")
						span.result__text Прогнозирование потребностей клиентов
					li.result__item
						span.result__icon
							img(src="#")
						span.result__text Снижение операционных расходов
				div.result__more
					a.more__link(href="#") Узнать больше				
			a.reward__calc(href="#")
				div.calc__icon
					img(href="")
				div.calc__text Рассчитать стоимость продукта

		div.reward__arrow-down
			a(herf="#" alt="вниз")






