section.reward__faq
	.container.container__faq
		div.faq__header
			h2 Часто задаваемые вопросы
			a(href='#') Смотреть
		div.questions
			ul.questions__acco
				li.acco__item
					a.acco__trigger(href='#') Так что же всё-таки такое REVARD?
					div.acco__answer 
						p Это CRM-система с преднастроенным процессом управления продажами, адаптированная под бизнес-запросы организаций оптовой/розничной торговли. Система обладает функциями, которые позволяют реализовывать бизнес-потребности продавцов товаров, сопровождающихся оказанием сопутствующих услуг
				li.acco__item 
					a.acco__trigger(href='#') Какая технология лежит в основе REVARD?
					div.acco__answer
						p Microsoft Dynamics 365 for Sales

				li.acco__item
					a.acco__trigger(href='#') Поддерживается ли система на мобильных устройствах?
					div.acco__answer 
						p Да, ведь REVARD – современное решение

				li.acco__item
					a.acco__trigger(href='#') Чем REVARD может заинтересовать руководителя организации?
					div.acco__answer 
						p Во-первых, всегда под рукой актуальная аналитика (не нужно ждать отчётов). Визуализация результатов анализа сокращает время изучения данных. Во-вторых, снижается зависимость от менеджеров по продажам (если менеджер заболел, ушёл в отпуск или уволился, продажи не остановятся). В-третьих, руководителю всегда доступен план работ менеджеров. Система мониторинга позволяет не только осуществлять контроль за деятельностью сотрудников, но и сравнивать результаты их труда, что имеет значение для принятия обоснованного решения о выплате премиальных вознаграждений

				li.acco__item
					a.acco__trigger(href='#') Что хорошего в REVARD для менеджеров по продажам?
					div.acco__answer 
						p Во-первых, это быстрый поиск информации о клиентах, анализ данных по различных критериям и принятие оперативных решений, адекватных обстоятельствам сделки. Во-вторых, возможность прогнозирования потребностей клиентов и разработка эффективных маркетинговых кампаний. В-третьих, высвобождение времени для решения интересных задач благодаря автоматизации скучных рутинных операций. В-четвёртых, работа из личного кабинета (удобно, понятно, в работе только то, что нужно сотруднику). И в-пятых, возможность эффективного взаимодействия с коллегами, например, благодаря календарям занятости и предупреждению конфликтов мероприятий при планировании встреч и ресурсов

				li.acco__item
					a.acco__trigger(href='#') Купить REVARD – это то же, что купить CRM?
					div.acco__answer 
						p Не совсем. REVARD обладает уникальными функциями, которые особенно оценят продавцы товаров, требующих поставки сопутствующих услуг: калькулятор стоимости, учитывающий в расчётах стоимость сопутствующих услуг; автоматическое составление графика дополнительных работ (по доставке и монтажу); автоматическое генерирование всех типов документов. Всё в одной системе, не нужно переключаться между программами

				li.acco__item 
					a.acco__trigger(href='#') Каким образом обеспечивается рост продаж?
					div.acco__answer 
						p Благодаря увеличению плотности взаимодействия с клиентами, повышению качества их обслуживания, а также при помощи использования инструментов прогнозирования их потребностей


				li.acco__item 
					a.acco__trigger(href='#') Что способствует увеличению скорости обработки заказов?
					div.acco__answer 
						p Тотальная автоматизация бизнес-процессов, которая проявляется не только в виде сокращения времени на реализацию бизнес-задач, но также подразумевает автоматическую постановку каждой следующей задачи по завершении предыдущей

				li.acco__item 
					a.acco__trigger(href='#') В чём заключается прогнозирование потребностей клиентов?
					div.acco__answer 
						p Анализ информации позволяет, во-первых, выявить клиентов, склонных к покупке, и предпринять действия по их удержанию (предложить то, в чём они нуждаются), а во-вторых, организовать кросс-продажи

				li.acco__item 
					a.acco__trigger(href='#') За счёт чего обеспечивается сокращение операционных расходов?
					div.acco__answer 
						p За счёт автоматизации бизнес-процессов, в том числе за счёт автоматического генерирования всех типовых форм документов, сопровождающих сделку (от коммерческого предложения и договора до счетов-фактуры и накладных), а также за счёт использования облачного сервиса для развёртывания системы

				li.acco__item 
					a.acco__trigger(href='#') Можно ли приехать в офис и увидеть систему своими глазами?
					div.acco__answer 
						p o	Можно и даже нужно. Для этого запишитесь на презентацию по телефону +7 (499) 375 – 5195 или при помощи кнопки <a href="#">«Записаться на презентацию»</a> 




