section.reward__order
	.container.container__order
		h2.order__header Как оформить заявку на внедрение 
			img(src='#' alt='Reward')
			span.hidden Reward
		div.order__description
			p Для оформления заявки на внедрение нажмите на кнопку <a href="#">«оформить заявку»</a>. Укажите контактные данные, а также информацию об отраслевой принадлежности компании, предполагаемое количество пользователей, необходимость интеграции с другими системами
			p После оформления заявки с Вами свяжется наш менеджер для уточнения индивидуальных бизнес-запросов. Далее мы составим коммерческое предложение, на основе которого будет заключён договор о внедрении REVARD в Вашей компании.
		a.order__button(href="#") Оформить заявку