doctype html
head
	include ../head
body
	div.wrapper
		include ../header
		include ../section_general
		include ../secton_what-is-reward
		include ../section_can-reward
		include ../section_time
		include ../section_order
		include ../section_faq
		include ../section_demo

		<!--временно-->
		include ../form_demo
		include ../form_order
		include ../form_presentation
		include ../form_count



	include ../footer



	




